<!DOCTYPE html>
<!-- 添加auto.appcache屬性， surge會自動產生appCache的manifest -->
<html lang="en" manifest="/auto.appcache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="container"></div>
  <%= htmlWebpackPlugin.files.webpackManifest %>
</body>
</html>
